
<body>
<div   *ngIf="isReady" >

  <div class="dataDropDown">
    <select class="form-control selectYear" (change)="chooseYear($event.target.value)" >
      <option *ngFor="let year of years; let i = index " [selected]="i==id-2015" (value)="year">{{year}}</option>


    </select>
  </div>

  <div>
    <button class="btn  Ask-for-Vacation"   (click)="askForVacation()"   > Ask For Vacation</button>
  </div>

  <div class="showDays">

    <div class="leftOver" >   {{this.extraVac.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}}</div>

    <div class="extraVacation"> {{this.extraVac.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}}
      <div class="T" [ngbPopover]="popContent"  popoverClass="T" triggers="mouseenter:mouseleave" popoverTitle="Extra Vaction " container="body"  placement="right"> <img src="https://image.ibb.co/bs2ufF/D.png"/>  </div>
    </div>


    <div class="extraVacation" > {{this.annualVac.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}}

    </div>
    <div class="extraVacation" > {{this.totalVac.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}}</div>
    <div class="line" > </div>
    <div class="weeksLeft" > 03</div>
  </div>


  <div class="labelShowDays">
    <div class="leftOverLabel" >LEFT OVER</div>
    <div class="extraVacationLabel" >EXTRA VACATIONS</div>
    <div class="annualVacationLabel" >ANNUAL VACATIONS</div>
    <div class="TOTALLabel" >TOTAL</div>
    <div class="weeksLeftLabel" >WEEKS LEFT</div>

  </div>

  <div class="horizontalLine"></div>

  <div class="dataTabel" >
    <table class="table " cellspacing="0" cellpadding="0">
      <tr >
        <th class="From" colspan="2">From <br>
          <p  class="Day"> Day</p>
          <p class="Hour"> Hour</p>
        </th>
        <th class="To">To <br>
          <p  class="Day"> Day</p>
          <p class="Hour"> Hour</p></th>
        <th class="Type">
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary Type" id="dropdownBasic1" ngbDropdownToggle >Type</button>
                <div    class="dropdown-menu typeDropDown" aria-labelledby="dropdownBasic1" >
                  <button id='All' class="dropdown-item" value="All"  (click)="typeOnclickFunction($event)">All<span class="glyphicon glyphicon-ok ok-signAll" *ngIf="typeCorrectSign('All') "></span></button>
                  <button id= 'Personal' class="dropdown-item" value="Personal" (click)="typeOnclickFunction($event)">Personal<span class="glyphicon glyphicon-ok ok-signPersonal" *ngIf="typeCorrectSign('Personal') "></span></button>
                  <button  id= 'Sick' class="dropdown-item" value="Sick" (click)="typeOnclickFunction($event)" >Sick<span class="glyphicon glyphicon-ok ok-signSick" *ngIf="typeCorrectSign('Sick') "></span></button>
                  <button id='Other' class="dropdown-item" value="Other" (click)="typeOnclickFunction($event)">Other<span class="glyphicon glyphicon-ok ok-signOther" *ngIf="typeCorrectSign('Other') "></span></button>
                </div>
              </div>
            </div>


          </div>


        </th>
        <th class="comments" >Comments</th>
        <th class="Status" >
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary Type" id="dropdownBasic1" ngbDropdownToggle >Status</button>
                <div    class="dropdown-menu statusDropDown" aria-labelledby="dropdownBasic1" >
                  <button id='AllStatus' class="dropdown-item" value="All"  (click)="statusOnclickFunction($event)">All<span class="glyphicon glyphicon-ok ok-signAll" *ngIf="statusCorrectSign('AllStatus') "></span></button>
                  <button id= 'Pending' class="dropdown-item" value="Pending" (click)="statusOnclickFunction($event)">Pending<span class="glyphicon glyphicon-ok ok-signPersonal" *ngIf="statusCorrectSign('Pending') "></span></button>
                  <button  id= 'PendingSick' class="dropdown-item" value="Pending Sick Report" (click)="statusOnclickFunction($event)" >Pending Sick Report<span class="glyphicon glyphicon-ok"  style="margin-left: 26px" *ngIf="statusCorrectSign('PendingSick') "></span></button>
                  <button id='Approved' class="dropdown-item" value="Approved" (click)="statusOnclickFunction($event)">Approved<span class="glyphicon glyphicon-ok ok-signOther" style="margin-left: 96px"  *ngIf="statusCorrectSign('Approved') "></span></button>
                  <button id='Rejected' class="dropdown-item" value="Rejected" (click)="statusOnclickFunction($event)">Rejected<span class="glyphicon glyphicon-ok ok-signOther"  style="margin-left: 106px" *ngIf="statusCorrectSign('Rejected') "></span></button>
                </div>
              </div>
            </div>


          </div>

        </th>
      </tr>
      <div class="horizontalLine2"> </div>
      <tbody class="tableBody">

      <tr class="singleVacation" *ngFor="let myvacation of this.activeVacation ; let i = index ">
        <td class="FromDay">{{myvacation.fromDay}} </td>
        <td  class="FromHour">{{myvacation.fromHour}} </td>
        <td class="ToDay">{{myvacation.toDay}}</td>
        <td  class="ToHour">{{myvacation.toHour}}</td>
        <td  class="TypeData">{{myvacation.type}}</td>
        <td  class="CommentData">{{myvacation.comments}}</td>
        <td  class="StatusData">
          {{this.changeStatusIcon(myvacation.status)}}
          <img  [src]="this.statusImage">
          {{myvacation.status}}
        <div class="threeIconDiv">

          <span    class="imgReport">   <img  *ngIf=" imageReport(myvacation.status) "  [src]="this.imgReport"> <p></p> </span>
          <span   class="imgMsg">   <img   [src]="this.imgMsg"> </span>
          <span  class="imgDoNotDisturb">   <img  [src]="this.imgDoNotDisturb"> </span>

        </div>

        </td>
        <div class="horizontalLine3"> </div>
      </tr>
      </tbody>
    </table>

  </div>









</div>
</body>
